[Unit]
Description=Overlay network provider
Wants=network.target
After=network.service

[Service]
ExecStart=python /usr/bin/client_network.py
Type=simple
PIDFile=/var/lib/sdnnetclient/sdnnetclient.pid

[Install]
WantedBy=multi-user.target
